/*Colores*/
$very-Dark-Magenta: hsl(300, 43%, 22%);
$soft-Pink: hsl(333, 80%, 67%);


$dark-Grayish-Magenta: hsl(303, 10%, 53%);
$light-Grayish-Magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

/*Typography*/

$font-size: 15px;
$family-spartan: 'Spartan', sans-serif;

