@import "variables.scss";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: $font-size;
  font-family: $family-spartan;
  background-color: $white;
  background-image: url(/images/bg-pattern-top-desktop.svg),
    url(/images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: 30%, 70%;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 40rem;

  .header__title {
    flex: 1;
    padding-right: 15rem;

    h1 {
      font-size: 5rem;
      margin-bottom: 0px;
      margin-top: 0;
      color: $very-Dark-Magenta;
    }

    p {
      font-size: 1.8rem;
      margin-top: 0.8rem;
      color: $dark-Grayish-Magenta;
    }
  }
}

.header__reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  height: 25rem;

  .header__review {
    display: flex;
    justify-content: space-evenly;
    border-radius: 1rem;
    padding: 2rem;
    align-items: center;
    background-color: $light-Grayish-Magenta;

    &:nth-child(1) {
      margin-right: 10rem;
    }

    &:nth-child(2) {
      margin-right: 5rem;
      margin-left: 5rem;
    }

    &:nth-child(3) {
      margin-left: 10rem;
    }

    p {
      padding: 0;
      margin: 0;
      font-weight: 700;
    }
  }
}

.header__comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .header__comment {
    height: 30rem;
    background-color: $very-Dark-Magenta;
    padding: 4rem;
    border-radius: 1.5rem;
    flex-basis: 30%;

    &:nth-child(2) {
      margin-top: 5rem;
    }

    &:nth-child(3) {
      margin-top: 10rem;
    }
  }

  p {
    color: white;
  }
}

.header__image__name {
  display: flex;
  height: 5rem;
  align-items: center;

  img {
    border-radius: 50%;
    width: 6rem;
    margin-right: 3rem;
  }

  h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 0.6rem;
    color: $white;
  }

  p {
    padding: 0;
    margin: 0;
    color: $soft-Pink;
  }
}

.header__description {
  margin-top: 5rem;
}

@media (max-width: 1200px) {
  .header {
    .header__title {
      padding-right: 0rem;

      h1 {
        font-size: 5rem;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }

  .header__review {
    p {
      font-size: 1.2rem;
    }
  }

  .header__comments {
    flex-direction: column;

    .header__comment {
      &:nth-child(2) {
        margin-top: 5rem;
      }

      &:nth-child(3) {
        margin-top: 2rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  .main {
    padding: 8rem;
  }
  .header {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    padding-top: 5rem;
    text-align: center;
    padding-top: 0;

    .header__reviews {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 4rem;
      margin-top: 5rem;
      .header__review {
        display: flex;
        justify-content: space-around;
        border-radius: 1rem;
        padding: 2rem;
        align-items: center;
        background-color: $light-Grayish-Magenta;
        margin-bottom: 2rem;

        &:nth-child(1) {
          margin-right: 0rem;
        }

        &:nth-child(2) {
          margin-right: 0rem;
          margin-left: 0rem;
        }

        &:nth-child(3) {
          margin-left: 0rem;
        }

        p {
          padding: 0;
          margin: 0;
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: 698px) {
 .main {
    padding: 2rem;
  }
  .header {
      padding-top: 3rem;
    .header__title {
      h1 {
        font-size: 4.5rem;
      }
    }

    .header__review {
      padding: 0;
      flex-direction: column;
      justify-content: space-around;

      .header__star {
        padding-bottom: .8rem;
    }
    }
  }


}
